body{
    padding:0;
    margin:0;
    height: 100vh;
    background-color: rgb(226, 174, 128); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    color:rgb(45, 5, 37);
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 18px rgb(220, 91, 16);
    margin-top:15px
}

#gameBoard{
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#gameBoard div{
    width: 90px;
    height: 150px;
    border: 2px solid rgba(119, 66, 50, 0.3);
    background-color: rgba(243, 193, 149, 0.5);
    display: flex;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    color: rgb(123, 14, 14);

}

#gameBoard div:hover{
    cursor: pointer;
}

.cardBack {

    background-color: rgb(22, 85, 104);
    background-image: linear-gradient(135deg ,rgba(236, 159, 92, 0.814) 15%,transparent 35%,rgba(59, 131, 151, 0.6)20%,transparent 50%),linear-gradient(45deg ,rgb(139, 15, 106) 15%,transparent 65%,rgb(192, 113, 127)20%,rgba(246, 6, 6, 0.8) 9%);
    background-size: 25px 170px;
    opacity: 0.7;
    background-repeat: repeat;
}

.won{
    width: 500px !important;
    height: 500px !important;
    background-color:  rgb(226, 174, 128) !important;
    display: flex !important;
    font-size: 3rem !important;
    justify-content: center !important;
    align-items: center !important;
    color: rgb(226, 237, 11) !important;
    text-shadow: 1px 2px 6px rgb(11, 12, 11) !important;
    margin: auto !important;
    

}